<div class="" id="home">
  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="index.html">
        <h1 class="tm-site-title mb-0">List of Covid19 cases</h1>
      </a>
      <button
        class="navbar-toggler ml-auto mr-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

    </div>
  </nav>
  <div class="container mt-5">
    <div class="row tm-content-row">
      <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <h2 class="tm-block-title">List of Countries</h2>

          <select (change)="getCountryData($event)" class="custom-select">
            <option value="0">Select Countries</option>
            <option *ngFor="let country of countries" value="{{country.Country}}">{{country.Country}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row tm-content-row">
      <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-avatar">
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Confirmed Cases</th>
                    <th scope="col">Deaths</th>
                    <th scope="col">Recovered</th>
                    <th scope="col">Active Cases</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of countryData">
                    <td>{{data.Date}}</td>
                    <td>{{data.Confirmed}}</td>
                    <td>{{data.Deaths}}</td>
                    <td>{{data.Recovered}}</td>
                    <td>{{data.Active}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved. 
        
        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer>
</div>